/* Southeastern Colors
#1b5633 - Green
#ffc629 - Yellow
*/

body {
    font-family: 'Roboto', sans-serif !important;
}

.center-text {
    background: #00000077;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 0.5em;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

mark {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 67%, rgba(255, 198, 41, 1) 67%, rgba(255, 198, 41, 1) 78%, rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0) 100%);
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-top: 3em;
    color: rgb(56, 56, 56);
}


footer {
    margin-top: 10%;
    background-color: #565656;
    padding-bottom: 2em;
    padding-left: 4em;
    color: white;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #1b5633;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: .3em;
    font-size: 1em;
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

.footer-links a:link {
    color: rgb(163, 163, 163);

}

.footer-links a:visited {
    color: rgb(163, 163, 163);
}

.footer-links a:hover {
    color: rgb(163, 163, 163);
}

.footer-links a:active {
    color: rgb(163, 163, 163);
}
