body {
    font-family: 'Roboto', sans-serif !important;
}

.ctext1 {
    background: rgba(76, 175, 80, 0.8);
    margin-left: auto;
    margin-right: 15%;
    margin-top: auto;
    margin-bottom: auto;
}

.ctext2 {
    background: rgba(76, 175, 80, 0.8);
    margin-left: 15%;
    margin-right: 15%;
    margin-top: auto;
    margin-bottom: auto;
}

.ctext3 {
    background: rgba(76, 175, 80, 0.8);
    margin-left: 30%;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

mark {
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #ffc629 50%,rgba(255, 255, 255, 0)); */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 67%, rgba(255, 198, 41, 1) 67%, rgba(255, 198, 41, 1) 78%, rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0) 100%);
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-top: 3em;
    color: rgb(56, 56, 56);
}